version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    platform: linux/amd64
    container_name: sqlserver

    hostname: sqlserver
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "${DARKGRAVITY_DB_PASSWORD}"
      MSSQL_PID: "Developer"
    volumes:
       - sql_data_persist:/var/opt/mssql


    restart: always


volumes:
  sql_data_persist:
